{% extends "base.html" %}

{% block content %}
<h1>Works log</h1>
{% for item in jobs%}
<div class="col-md6 border rounded">
    <h2>Action # {{ item.id }}</h2>
    <table>
        <tr>
            <th>Title of activity</th><th>Team leader</th><th>Duration</th><th>List of collaborators</th><th>Is finished</th>
        </tr>
        <tr>
            <td>{{ item.job }}</td><td>{{ names[item.team_leader][0] }} {{ names[item.team_leader][1] }}</td><td>{{ item.work_size }}</td><td>{{ item.collaborators }}</td><td>{{ item.is_finished }}</td>
        </tr>
    </table>
</div>
{% endfor %}
{% endblock %}